.price-table {
    display: none;
  }
  
  @media (min-width: 768px) and (max-width: 1119px) {
    .price-table {
      display: block;
      padding-left: 24px;
      padding-right: 32px;
    }
  
    .price-grid--table {
      background-color: #fff;
      border: 1px solid #fff;
      border-radius: 8px;
      overflow: hidden;
    }
  
    .price-table__head,
    .price-table__row {
      display: grid;
      grid-template-columns: minmax(220px, 1fr) 100px 100px 120px;
      gap: 16px;
      padding: 16px;
      align-items: center;
      font-size: 14px;
      color: #1b1c21;
    }
  
    .price-table__row {
      background-color: #fff;
      position: relative;
    }
  
    .price-table__row:not(:last-child)::after {
      content: "";
      position: absolute;
      left: 16px;
      right: 16px;
      bottom: 0;
      height: 1px;
      background-color: #eaeaea;
      z-index: 1;
    }
    .price-table__head {
      // font-weight: 600;
      color: #999;
    }
  
    .price-table__button {
      justify-self: end;
    }
  }
  
  @media (min-width: 1120px) {
    .price-table {
      display: block;
      padding-left: 32px;
      padding-right: 32px;
    }
  
    .price-grid--table {
      background-color: #fff;
      border: 1px solid #fff;
      border-radius: 8px;
      overflow: hidden;
    }
  
    .price-table__head,
    .price-table__row {
      display: grid;
      grid-template-columns: minmax(250px, 1fr) 120px 120px 140px;
      gap: 24px;
      padding: 16px 24px;
      align-items: center;
      font-size: 14px;
    }
  
    .price-table__row {
      position: relative;
    }
    .price-table__row:not(:last-child)::after {
      content: "";
      position: absolute;
      left: 16px;
      right: 16px;
      bottom: 0;
      height: 1px;
      background-color: #eaeaea;
      z-index: 1;
    }
    .price-table__head {
      font-weight: 600;
      color: #999;
      background: #f8f8f8;
    }
  
    .price-table__button {
      justify-self: end;
    }
  }