.footer {
    flex-shrink: 0;
    border-top: 1px solid #d9fff5;
    padding: 16px 4px 19px 4px;
    letter-spacing: 0px;
  }
  
  .foofter__text {
    color: #7e7e82;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    letter-spacing: 0px;
  }
  
  .text__year,
  .text__company,
  .text__privacy,
  .text__info {
    text-align: center;
    letter-spacing: 0px;
    margin: 0;
    text-decoration: none;
  }
  
  @media (min-width: 768px) {
    .footer {
      padding: 32px 24px 25px 24px;
    }
  
    .foofter__text {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      align-items: start;
    }
  
    .text__info {
      text-align: end;
    }
  
    .text__privacy {
      text-align: center;
    }
  
    .text__year,
    .text__company {
      text-align: start;
    }
  }